{% extends 'admin/master/admin.html.twig' %}
{% block css %}
  <link href="/assets/plugins/font-awesome/css/all.min.css" rel="stylesheet" media="screen">
  <script src="/assets/plugins/font-awesome/js/all.min.css"></script>
{% endblock %}
{% block body_content %}
  {% set url_lang_item = '' %}
  {% if data.url_lang_item is defined %}
    {% set url_lang_item = data.url_lang_item %}
  {% endif %}
  <section class="hk-sec-wrapper" id="hk-section-form" hk-data-url="{{url_lang_item}}" hk-data-is-multi-languages="{{data.is_lang_content}}">
    {{ form(form, {attr: {class: 'hk-form-edit-add' , onsubmit: 'return false'}})}}
    </section>
  {% endblock %}
  {% block script %}

    <script type="text/javascript">
      $(function () {
        var proto = $('#customer_warranties');
        var $counter_form_warranty = 0;
        if (proto) {
          var add = $('<a class="btn btn-success" style="cursor: pointer; margin-bottom: 40px; color: #fff"><i class="fa fa-plus"></i> Thêm bảo trì</a>');

          add.click(function () {
            var $fr = proto.attr('data-prototype');
            $fr = $fr.replace(/__name__/g, $counter_form_warranty++)
            add.before($fr);
            var pr = $('#customer_warranties_' + (
              $counter_form_warranty - 1
            )).parent().parent();
            pr.find('> .col-sm-3').remove();


            pr.find('> .col-sm-9').addClass('col-sm-12');
            var del = $('<a href="javascript:void(0)" style="position: absolute; top: 0px; right:20px; margin-bottom: 40px; color: #F00; cursor:pointer; " title="Xóa"><i class="fa fa-times"></i></a>');
            del.click(function () {
              $(this).parent().parent().remove();
            });

            pr.find('> .col-sm-9').append(del);

          })
          proto.parent().append(add);
          if (parseInt($('#customer_editId').val()) > 0) {
            $counter_form_warranty = proto.find(' > .row.form-group').length;
            proto.find(' > .row.form-group').each(function () {
              $(this).find('> .col-sm-3').remove();
              $(this).find('> .col-sm-9').addClass('col-sm-12');

              var del = $('<a href="javascript:void(0)" style="position: absolute; top: 0px; right:20px; margin-bottom: 40px; color: #F00; cursor:pointer; " title="Xóa"><i class="fa fa-times"></i></a>');
              del.click(function () {
                $(this).parent().parent().remove();
              });

              $(this).find('> .col-sm-9').append(del);
            })

          } else {
            add.trigger('click');
          }

        }
      })
    </script>
  {% endblock %}
