<div class="language-wrap container">
	<div class="language d-flex wow fadeInDown" data-wow-delay="0.5s">
		<a href="#" class="language-item d-flex align-items-center vn hk-language" title="Vietnamese" hk-data-lang="vi" hk-data-url="{{path('hk.home.lang')}}"><span class="flag"></span></a>
		<a href="#" class="language-item d-flex align-items-center en hk-language" title="English" hk-data-lang="en" hk-data-url="{{path('hk.home.lang')}}"><span class="flag"></span></a>
	</div>
</div>

<!--
<div class="dropdown-menu dropdown-menu-right">
    <a href="javascript:void(0)" class="dropdown-item lang vn hk-language" hk-data-lang="vi" title="Vietnamese" hk-data-url="{{path('hk.home.lang')}}">Vietnamese</a>
    <a href="javascript:void(0)" class="dropdown-item lang en hk-language" title="English" hk-data-lang="en" hk-data-url="{{path('hk.home.lang')}}">English</a>
</div>
-->
